.homepage {
  font-family: Arial, sans-serif;
}

.banner {
  width: 100%;
  height: auto;
}

.banner-link {
  display: block;
}

.banner-image {
  width: 100%;
  height: auto;
}

.content {
  padding: 20px;
}

.product-grid {
  /* Estilos para o grid de produtos */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  /* Estilos para cada cartão de produto */
  width: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


.product-image {
  width: 100%;
  aspect-ratio: 1/1;
  margin-bottom: 5px;
  object-fit: cover;

}

h1 {
  color: #333;
}

h2 {
  font-size: 1.5rem;
  color: #555;
}

p {
  font-size: 1rem;
  color: #777;
}

.view-details-button {
  /* Estilos para o botão de ver detalhes */
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}


.ver-produtos-button:hover,
.view-details-button:hover {
  /* Estilos de hover para os botões */
  opacity: 0.8;
}

.ver-produtos-button {
  /* Estilos para o botão "Ver Todos os Produtos" */
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}