.header {
  background-color: #260700; /* Cor de fundo do header */
  color: #DB6B1A; /* Cor do texto */
  padding: 7px 15px; /* Espaçamento interno */
  display: flex; /* Usa flexbox para layout */
  align-items: center; /* Alinha os itens no centro verticalmente */
  justify-content: space-between; /* Distribui os itens com espaço entre eles */
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px; /* Largura do ícone do logo */
  height: 50px; /* Altura do ícone do logo */
  margin-right: 10px; /* Espaço entre o ícone e o texto */
}

.title {
  margin: 0;
  padding: 0;
  color: #DB6B1A; /* Cor do texto do título */
  font-size: 24px; /* Tamanho da fonte do título */
}

.title-link {
  text-decoration: none; /* Remove a decoração de link padrão */
}

.header-center {
  flex: 1; /* Faz a barra de pesquisa ocupar o espaço central */
  display: flex;
  justify-content: center; /* Centraliza a barra de pesquisa */
}

.search-bar {
  width: 100%;
  max-width: 400px; /* Largura máxima da barra de pesquisa */
  padding: 7px; /* Espaçamento interno */
  border: 1px solid #C7BEB7; /* Bordas da barra de pesquisa */
  border-radius: 4px; /* Bordas arredondadas */
}

.header-right {
  display: flex;
  align-items: center;
}

.button {
  margin-left: 10px; /* Espaço entre os botões */
  background-color: #DB6B1A; /* Cor de fundo dos botões */
  color: #fff; /* Cor do texto dos botões */
  border: none; /* Sem bordas */
  padding: 7px 15px; /* Espaçamento interno dos botões */
  border-radius: 4px; /* Bordas arredondadas dos botões */
  cursor: pointer; /* Cursor em forma de mãozinha */
}

.button:hover {
  background-color: #DB6B1A; /* Cor de fundo dos botões ao passar o mouse */
}

.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}