/* Header.css */
.header {
  background-color: #260700;
  color: #db6b1a;
  padding: 7px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.title {
  margin: 0;
  padding: 0;
  color: #db6b1a;
  font-size: 24px;
}

.title-link {
  text-decoration: none;
}

.header-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 100%;
  max-width: 400px;
  padding: 7px;
  border: 1px solid #c7beb7;
  border-radius: 4px;
}

.header-right {
  display: flex;
  align-items: center;
}

.button {
  margin-left: 10px;
  background-color: #db6b1a;
  color: #fff;
  border: none;
  padding: 7px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
